<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>310410099630-j0gmc6kbl5ku6lv6oepoqt0ere5hoh20.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.310410099630-j0gmc6kbl5ku6lv6oepoqt0ere5hoh20</string>
	<key>API_KEY</key>
	<string>AIzaSyB1bIJN-RZr36V2Y0HdCQAQrFjuECoLnHg</string>
	<key>GCM_SENDER_ID</key>
	<string>310410099630</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterAppFlashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-3977c</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-3977c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:310410099630:ios:5e326396020e080a76263f</string>
</dict>
</plist>